staging:
  deploy_to: "/var/www/consul"
  ssh_port: 21
  server: "staging.consul.es"
  db_server: "postgre.consul.es"
  user: "xxxxx"
  server_name: "staging.consul.es"
  full_app_name: "consul"
  repo_url: "https://github.com/consul/consul"

preproduction:
  deploy_to: "/var/www/consul"
  ssh_port: 2222
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  db_server: xxx.xxx.xxx.xxx
  user: xxxxx
  server_name: pre.consul.es
  full_app_name: "consul"

production:
  deploy_to: "/var/local/apps/consul_guadassuar"
  ssh_port: 2222
  server: consul-guadassuar.fadrell.com
  db_server: consu-guadassuar.fadrell.com
  user: "fadrell"
  server_name: "consul-guadassuar.fadrell.com"
  full_app_name: "consul_guadassuar"
  repo_url: "https://github.com/consul/consul"
