// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
header {
  background: $black;
}

.top-bar {
  background: $black !important;
  padding: 5px 0;
  //color: #fff;
  .menu .menu-text {
    a {
      color: $brand;
    }
  }
}
